<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.user.fachuan-gunicorn</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>/Users/huangsong21/Library/Application Support/FachuanHybridSystem/bin/gunicorn.sh</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ThrottleInterval</key>
  <integer>10</integer>
  <key>StandardOutPath</key>
  <string>/Users/huangsong21/Library/Logs/fachuan-gunicorn.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/huangsong21/Library/Logs/fachuan-gunicorn.log</string>
</dict>
</plist>
