{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block content %}
<div id="content-main">
    <h1>{</h1>

    <div class="module aligned">
        <div class="form-row">
            <p>{</p>
            <p>{</p>
        </div>

        <div class="form-row" style="background: #ffc; padding: 10px; margin: 10px 0;">
            <strong>{</strong>
            <ul>
                <li>{</li>
                <li>{</li>
                <li>{</li>
            </ul>
        </div>
    </div>

    <form method="post">
        {% csrf_token %}
        <div class="submit-row">
            <input type="submit" value="{" class="default" name="_sync">
            <a href="../" class="closelink">{</a>
        </div>
    </form>
</div>
{% endblock %}
