{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrastyle %}
{{ block.super }}
<style>
    /* 关于链接样式 - 融入用户工具栏 */
    #user-tools .about-link {
        color: var(--header-link-color, #81d4fa);
        margin-right: 10px;
    }
    
    #user-tools .about-link:hover {
        color: var(--header-link-color, #fff);
    }
</style>
{% endblock %}



{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a>
</h1>
{% endblock %}

{% block userlinks %}
<a href="{% url 'admin:about' %}" class="about-link">关于法穿</a>
{{ block.super }}
{% endblock %}
