{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}

{% block object-tools-items %}
<li>
    <form id="json-import-form" method="post" action="import/" enctype="multipart/form-data" style="display:none">
        {% csrf_token %}
        <input type="file" name="json_file" id="json-import-input" accept=".zip">
    </form>
    <a href="#" class="addlink" onclick="document.getElementById('json-import-input').click();return false;">{</a>
    <script>
        document.getElementById('json-import-input').addEventListener('change', function(){
            if(this.files.length) document.getElementById('json-import-form').submit();
        });
    </script>
</li>
<li>
    <a href="{% url 'admin:contracts_contract_batch_folder_binding' %}" class="addlink">
        {
    </a>
</li>
<li>
    <a href="{% url 'admin:contracts_contract_oa_sync' %}" class="addlink">
        {
    </a>
</li>
<li>
    <a href="{% url 'admin:contracts_contract_jtn_oa_import' %}" class="addlink">
        {
    </a>
</li>
{{ block.super }}
{% endblock %}

{% block content %}
{{ block.super }}
{% endblock %}
