{% extends "admin/change_list.html" %}
{% load i18n %}

{% block object-tools-items %}
<li>
  <form id="json-import-form" method="post" action="import/" enctype="multipart/form-data" style="display:none">
    {% csrf_token %}
    <input type="file" name="json_file" id="json-import-input" accept=".json,.zip">
  </form>
  <a href="#" class="addlink" onclick="document.getElementById('json-import-input').click();return false;">{% trans "导入 JSON" %}</a>
  <script>
    document.getElementById('json-import-input').addEventListener('change', function(){
      if(this.files.length) document.getElementById('json-import-form').submit();
    });
  </script>
</li>
{{ block.super }}
{% endblock %}
